* {
  margin: 0;
  padding: 0;
}
header{
  background-color: #c0c0c0;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 80px;
  display: inline;
}
img {
  position: relative;
  bottom: 10px;
  z-index: 11;
}
 header nav {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;

}
nav {
  display: inline;
  width: 100%;
  height: 0;
  font-family: 'Orbitron', sans-serif;
}
ul {
    position: relative;
    bottom: 70px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c0c0c0;
}

li {
    float: right;
}

li a {
    display: block;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color : #c0c0c0;
    background-color: #111;
}
body {
  background-color:#101010;
  height: 100%;
  width: 100%;
  margin: 0;
}
h1 {
  font-size: 50px;
  text-align: left;
  font-family: 'Orbitron', sans-serif;
  color: #c0c0c0;
  margin-left: 50px;
}
section {
  width: 1000px;
  height: auto;
  margin-left: s50px;
  margin-right: auto;
  position: relative;
  top: 150px;
}
section a {
  text-decoration: none;
}
article {
  background-color: #000010;
  font-size: 18px;
  height: 200px;
  padding: 1px;
  padding-left: 0;
  margin: 5px;
  margin-left: 40px;
}
article h3 {
 background-color: #000010;
 text-align: left;
 color: #c0c0c0;
 font-size: 30px;
 font-family: 'Jura', sans-serif;
}
p {
  border-top: 5px solid #101010;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 19px;
}
footer{
  background-color: #c0c0c0;
  color: #111;
  text-align: right;
  position: relative;
  top: 200px;
  right: 40px;
  padding: 20px;
  height: 30px;
  width: 100%;
  font-size: 20px;
}
footer a {
  color: #111;
  text-decoration: none;
}
