* {
  margin: 0;
  padding: 0;
}
a {
  color: #c0c0c0;
}
a:hover {
  color:#111;
}
nav {
 margin:auto;
 text-align: center;
 width: 100%;
 font-family: arial;
 font-size: 20px;
 }
 nav ul {
 background:hsla(0 , 0%, 30%, 0.5);
 padding: 0 20px;
 list-style: none;
 position: relative;
 display: inline-table;
 width: 100%;
 }
 nav ul li{
   height: 20px;
   padding: 30px;
   float:right;
 }

 nav ul li:hover{
 background:hsla(0 , 0%, 80%, 0.5);
 }

 nav ul li:hover a{
 color:#c0c0c0;
 }

 nav ul li a{
 display: block;
 padding: 40px;
 color: #111;
 text-decoration: none;
}
body {
  width: 97%;
  height:100%;
  background-image: url("11.jpg");
  background-size: cover;
}
section {
  position: relative;
  top: 70px;
  right: 250px;
  background-color: hsla(0 , 0%, 30%, 0.5);
  width: 400px;
  height: 400px;
  margin-left: 750px;
  border-radius: 20px;
}
h1 {
  word-spacing: 10px;
  color: lavender;
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 70px;
  text-align: center;
  margin: 20px;

}
p {
  margin: 20px;
  word-spacing: 10px;
  color: lavender;
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
}
img {
  padding-left: 70px;
  padding-top: 20px;
}
